{% extends "common/page_base.html" %}  {# common/page_base.html extends layout.html #}
{% block css %}
	{{ super() }}
	
	<style>
		.item {
            		
            		cursor: move;
            		text-align: center;
        	}
        </style>
{% endblock %}

{% block content %}

	<div class="row">
		<div class="col-12">
			<h1>IWS Feature Request panel</h1>
			<div class="row">
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#new_feature" id="new_feature_b">
					Add
				</button>
				<!--button type="button" data-bind="click: savePriorities" class="btn btn-primary" data-toggle="modal"  id="save_priorites_b">
					Save priorites
				</button><br-->
			</div>
			<div class="row placeholders">
				<div class="table-responsive">
				
				
					<h3>Feature Request</h3>
					<!--div class="container" data-bind="sortable: features">
						<div class="item">
							<span data-bind="visible: !$root.isTaskSelected($data)">
							    <a href="#" data-bind="text: title, click: $root.selectedTask"></a>
							</span>
							<span data-bind="visibleAndSelect: $root.isTaskSelected($data)">
							    <input data-bind="value: title, event: { blur: $root.clearTask }" />
							</span>
						</div>
					</div-->
					
					
					  <table class="table table-striped table-inverse">
						  <thead>
							  <tr>
								  <th>#</th>
								  <th>Title</th>
								  
								  <th>Client Name</th>
								  <th>product Name</th>
								  <th>Global priority</th>
								  
								  <th>Client Priority</th>
								  <th>Action</th>
							  </tr>
						  </thead >
						  <tbody data-bind="sortable: features">
							{#% for fr in features %#}
							  <tr class="item">
								  <th data-bind="text: id">{#{fr.id}#}</th>
								  <td data-bind="text: title">{#{fr.title}#}</td>
								  <td data-bind="text: company_name">{#{fr.description}#}</td>
								  <td data-bind="text: product_name">{#{fr.description}#}</td>
								  <td data-bind="text: global_priority">{#{fr.user_id}#}</td>
								  <td data-bind="text: client_priority">{#{fr.priority}#}</td>
								  
								  
								  <td>--</td>

							  </tr>
							{#% endfor %#}  
						  </tbody>
					  </table>
				  </div>
			</div>
		
		</div>
	</div>
	


<!-- Dialog form new feature -->
<form data-bind="submit: addFeature">
<div class="modal fade" id="new_feature" tabindex="-1" role="dialog" aria-labelledby="newFeatureLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="newFeatureLabel">Create new Feature</h4>
      </div>
      <div class="modal-body">
        <!---------------------------------------------->
	
              <div class="form-group">
                  <label for="titleText">Title</label>
                  <input type="text" data-bind="value: newTitle" class="form-control" id="titleText" aria-describedby="titleHelp" placeholder="Enter title">
                  <small id="titleHelp" class="form-text text-muted">Enter the title of the feature.</small>
              </div>
               <div class="form-group">
                  <label for="descriptionText">Description</label>
                  <textarea class="form-control" data-bind="value: newDesc" id="descriptionText" rows="3"></textarea>
              </div>
              
              {% if current_user.roles[0].name=='client' %}
              		<input type="hidden" id="current_user_id" value="{{current_user.id}}">
              		<input type="hidden" id="role_user" value="3">
              
              {% else %}
              		<div class="form-group">
				  <label for="cilentSelect">Client</label>

				  <select class="form-control" id="cilentSelect" data-bind="options: $root.clients, value: newClient, optionsText: 'company_name'">
				  </select>
              		</div>
              		<input type="hidden" id="role_user" value="1">
              
              {% endif %}
              
              
              <div class="form-group">
                  <label for="targetDateText">Target Date</label>
                  <input type="date" class="form-control" data-bind="value: newTargetDate" id="targetDateText" 
                  aria-describedby="targetDateHelp" placeholder="Enter target Date" data-provide="datepicker">
                  <small id="targetDateHelp" class="form-text text-muted">Enter the target Date.</small>
              </div>
              
              
              
              <div class="form-group">
                  <label for="ticketUrlText">Ticket URL</label>
                 
                  	<input type="text" data-bind="value: newTicketUrl" class="form-control" id="ticketUrlText" 
                  	aria-describedby="tcketUrlHelp" placeholder="Enter ticket URL" width="80%">
                 
                  
                  <small id="tcketUrlHelp" class="form-text text-muted">Enter the ticket URL.</small>
              </div>
              
             
              <div class="form-group">
				  <label for="productSelect">Product</label>

				  <select class="form-control" id="productSelect" data-bind="options: $root.products, value: newProduct, optionsText: 'product_name'">
				  </select>
              		</div>
          

	<!---------- End form ----------------->


      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>
</form>
{% endblock %}

{% block javascript %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/knockout-sortable.min.js') }}"></script>
    <script src="{{ url_for('static', filename='feature.js') }}"></script>
      <script>
	  $( function() {
	    $('#targetDateText').prop("disabled","disabled");
	    $('#targetDateText').prop("disabled", true) 
	    $( "#targetDateText" ).datepicker({
	      showOn: "button",
	      buttonImage: "static/images/calendar.gif",
	      buttonImageOnly: true,
	      buttonText: "Select date",
	      dateFormat: "mm-dd-yy"
	    });
	  } );
  </script>

{% endblock %}


