{% extends "common/page_base.html" %}  {# common/page_base.html extends layout.html #}



	

{% block content %}

	<div class="row placeholders">
		<h1>IWS Feature Request panel</h1>
	</div>
	<div>
		<p>Welcome to IWS Features Requests Panel</p>
		<p>This application developed by <strong>Walid Hammami</strong></p>
		<p>Email : <strong>walid.ham@hotmail.com</strong></p>
		<p>GitHub link : <strong><a href="https://github.com/walidham/iws2">IWS Feature Requests Project</a></strong></p>
	</div>


{% endblock %}




