{% extends "common/page_base.html" %}  {# common/page_base.html extends layout.html #}

{% if not current_user.is_authenticated %}
    {% block css %}
       <link href="/static/css/bootstrap.css" rel="stylesheet">
	<link href="/static/css/dashboard.css" rel="stylesheet">

    {% endblock %}


{% endif  %}
{% block content %}




{% if not current_user.is_authenticated %}

<h1> Access dinied </h1>
{% else %}
<div class="container-fluid">
		<div class="row">
			
				<div class="col-sm-3 col-md-2 sidebar">
					<ul class="nav nav-sidebar">
						<li ><a href="{{ url_for('core.home_page') }}">Home</a></li>
						<li ><a href="{{ url_for('feature_request') }}">Features Requests </a></li>
						{% if current_user.roles[0].name == 'admin' %}
							<li ><a href="{{ url_for('clients') }}">Clients</a></li>
							<li ><a href="{{ url_for('products') }}">Products</a></li>
							<li class="active"><a href="{{ url_for('users') }}">Users<span class="sr-only">(current)</span></a></li>
						{% endif %}
            
					</ul>
          
				</div>
			
			
			<div class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 main">
				<h1>IWS Users</h1>
				<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#new_feature" id="new_feature_b">
					Add
				</button>
				<div class="row placeholders">
            				<div class="table-responsive">
						  <table class="table table-striped table-inverse">
							  <thead>
								  <tr>
									  <th>#</th>
									  <th>First name</th>
									  <th>Last Name</th>
									  <th>Company Name</th>
									  <th>Client priority</th>
									  
									  <th>Action</th>
								  </tr>
							  </thead>
							  <tbody>
								{% for fr in users %}
								  <tr>
									  <th data-bind="text: id">{{fr.id}}</th>
									  <td data-bind="text: title">{{fr.last_name}}</td>
									  <td data-bind="text: description">{{fr.first_name}}</td>
									  <td data-bind="text: client_name">{{fr.company_name}}</td>
									  <td data-bind="text: client_priority">{{fr.priority}}</td>
									  
									  <td>--</td>

								  </tr>
								{% endfor %}  
							  </tbody>
						  </table>
					  </div>
				</div>
				<h4></h4>
				
				
				
			</div>
		</div>
	</div>
{% endif %}

<!-- Dialog form new feature -->
<form data-bind="submit: addFeature">
<div class="modal fade" id="new_feature" tabindex="-1" role="dialog" aria-labelledby="newFeatureLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="newFeatureLabel">Create new IWS User</h4>
      </div>
      <div class="modal-body">
        <!---------------------------------------------->
	
              <div class="form-group">
                  <label for="firstNameText">First name</label>
                  <input type="text" data-bind="value: newTitle" class="form-control" id="firstNameText" aria-describedby="firstNameHelp" placeholder="Enter first name">
                  <small id="firstNameHelp" class="form-text text-muted">Enter the first name.</small>
              </div>
               <div class="form-group">
                  <label for="lastNameText">Last name</label>
                  <input type="text" data-bind="value: newTitle" class="form-control" id="lastNameText" aria-describedby="lastNameHelp" placeholder="Enter last name">
              </div>
             
               <div class="form-group">
                  <label for="emailText">Email</label>
                  <input type="email" data-bind="value: newTitle" class="form-control" id="emailText" aria-describedby="emailHelp" placeholder="Enter Email">
              </div>
              
              
              <div class="form-group">
                  <label for="targetDateText">Client Priority</label>
                  <input type="number" class="form-control" data-bind="value: newClientPriority" id="targetDateText" aria-describedby="targetDateHelp" placeholder="Enter target Date">
                  <small id="targetDateHelp" class="form-text text-muted">Enter the priority.</small>
              </div>
              
              
              
              
              <div class="form-group">
                  <label for="ticketUrlText">Password</label>
                  <input type="password" data-bind="value: newTicketUrl" class="form-control" id="ticketUrlText" aria-describedby="tcketUrlHelp" placeholder="Enter password">
                  <small id="tcketUrlHelp" class="form-text text-muted">Enter the password.</small>
              </div>
              <div class="form-group">
                  <label for="ticketUrlText">Confirm Password</label>
                  <input type="password" data-bind="value: newTicketUrl" class="form-control" id="ticketUrlText" aria-describedby="tcketUrlHelp" placeholder="Enter confirmation">
                  <small id="tcketUrlHelp" class="form-text text-muted">Enter the password confirmation.</small>
              </div>
             
              
          

	<!---------- End form ----------------->


      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>
</form>
{% endblock %}


